include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/bankofengland *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/bankofengland/migration *.ini *.py *.mako
