{% extends "package/resource_edit_base.html" %}


{% block primary_content_inner %}

  <input type="hidden" name="footnote-rows-list" id="footnote-rows-list" value="{{ js_row_values }}">

  <form id="footnote-form" method="post" action="">

    <button id="save-footnotes" class="btn btn-primary" type="submit" style="margin-right: 20px;">Save</button>
    <button id="add-footnote" class="btn btn-default" type="button"><i class="fa fa-plus"></i>Add footnote</button></br></br>

    <input type="hidden" name="footnote-rows-deleted" id="footnote-rows-deleted" value="">
    <input type="hidden" name="footnote-rows-added" id="footnote-rows-added" value="">
    <input type="hidden" name="pkg-name" id="pkg-name" value="{{ pkg.name }}">

    {% block scripts %}
      {% asset 'bankofengland/bankofengland-js' %}
    {% endblock %}

    <table id="footnote-table" name="footnote-table" class="table table-bordered footnote-table">
      <thead>
        <tr>
          <th>Row</th>
          <th>Column</th>
          <th>Footnote Text</th>
          <th style="width: 100px;">Delete</th>
        </tr>
      </thead>

      <tbody>
      {% if footnotes %}
        {% for footnote in footnotes %}
          {% set row_id = h.generate_uuid() %}
          <input type="hidden" name="footnote-id-{{ row_id }}" id="footnote-id-{{ row_id }}" value="{{ footnote.id }}">
          <tr>
            {# Add a dropdown select for "Row". The options should be the values from "row_values" #}
            <td>
              <select class="footnote-row" name="footnote-row-{{ row_id }}" id="footnote-row-{{ row_id }}" style="max-width: 100%; border: 1px solid #ccc; background-color: white;">
              <option class="footnote-row-option" value="" {% if '' == footnote.row %}selected{% endif %} style="background-color: #fff;"></option>
              {% for row_value in row_values %}
                <option class="footnote-row-option" value="{{ row_value }}" {% if row_value == footnote.row %}selected{% endif %} style="background-color: #fff;">{{ row_value }}</option>
              {% endfor %}
              </select>
            </td>
            <td><input class="footnote-column" name="footnote-column-{{ row_id }}" id="footnote-column-{{ row_id }}" type="text" value="{{ footnote.column }}" style="max-width: 100%; border: 1px solid #ccc;"></td>
            <td><textarea class="footnote-text" name="footnote-text-{{ row_id }}" id="footnote-text-{{ row_id }}" rows="2" style="width: 100%; border: 1px solid #ccc;">{{ footnote.footnote }}</textarea></td>
            {% set deleted_footnote = h.to_json({'row_id': row_id, 'column': footnote.column, 'footnote': footnote.footnote, 'footnote_id': footnote.id }) %}
            <td><button class="btn btn-danger delete-footnote-row" type="button" id="delete-footnote-row-{{ row_id }}" data="{{ deleted_footnote }}">Delete</button></td>
          </tr>
        {% endfor %}
      {% endif %}
      </tbody>
    </table>
  </form>

{% endblock %}

